html, body {
  height: 100%;
  min-height: 100%;
  width: 100%;
}

body {
  background: black;
}

.detailsButton.selected {
  color: red;
}

.businessListing {
  padding: 20px 0;
}

.businessListing:nth-of-type(even) {
  background: rgba(0,0,0,0.05);
}
.listings-container {
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.moreDeets {
  padding: 20px;
  display: none;
}

.label {
  margin-top: 20px;
}

/* .businessListing {
  display: flex;
  flex-direction: row;
  max-width: 960px;
  margin-bottom: 10px;
  border: solid 1px gray;
  align-items: stretch;
}

.ratingPriceContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: stretch;
  justify-content: stretch;
  border: solid 1px black;
}

.restDeets {
  flex: 5;
}

.indicator {
  flex: 1;
}

.rating {
  display: block;
  font-size: 1.4em;
  flex: 2;
  background: blue;
}

.date {
  padding: 0.75em;
} */

.container {
  background: white;
  padding: 20px;
  border-radius: 4px;
}