html, body {
  height: 100%;
  width: 100%;
}

body {
  height: 100%;
  background: black;
  overflow: auto;
}

.navbarContent {
  display: flex;
  align-items: center;
  padding: 20px;
  justify-content: space-between;
  width: calc(100%);
}

.logoContainer {
  display: flex;
  align-items: center;
}

.logoContainer img {
  max-height: 40px;
  margin-right: 6px;
}

.detailsButton.selected {
  color: red;
}

.businessListing {
  padding: 20px 0;
}

.eventsListItem {
  border: solid 1px gray;
}

.message {
  min-height: 100%;
}

.businessListing:nth-of-type(even) {
  background: rgba(0,0,0,0.05);
}
.listings-container {
  background: white;
  border-radius: 4px;
  overflow: hidden;
}

.moreDeets {
  padding: 20px;
  display: none;
}

.label {
  margin-top: 20px;
}

.container {
  background: white;
  padding: 20px;
  border-radius: 4px;
}